@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
    background-color: pink;
    font-family: 'Fredoka One', cursive, Verdana, Geneva, sans-serif;
    margin: 0;
    height: 100%;
}

.header {
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: #92d0ec;
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #92d0ec;
  text-align: center;
}

canvas {
  width: 100vmax;
  height: 100vmax;
  background-color: black;
}